@import "~bootstrap/scss/bootstrap.scss";
body {
    background-color: #3b3e47;
}
ol {

    list-style-position: inside;
    color: white;
    counter-reset: listCounter;
    list-style: none;
    margin-bottom: 5rem
}
ol li{
    counter-increment: listCounter;
    background-color: #171718;
    padding: 0.5rem;
}
ol li:nth-last-child(){
    margin-bottom: 15rem;
}
ol li::before{
     content: counter(listCounter) ;
}

li:hover {
    background-color: #525252;
    cursor: pointer;
}

li:active {
    background-color: #797979;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

i {
    color: white;
}

i:hover {
    color: #797979;
}

i:active {
    color: #a0a0a0;
}

.audio-buttons {
    cursor: pointer;
}